body {
  background-color: black;
  color: white;
}

.logo {
  border-radius: 90%;
}

.button:hover {
  scale: 1.2;
}

.left {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: -20px;
}

.gora {
  background-color: rgb(99, 23, 0);
  width: 400px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.lewo1 {
  width: 500px;
}

.prawo1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.kafel {
  width: 350px;
  height: 100px;
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
}

.kafelki {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.double {
  width: 165px;
  height: 100px;
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
}

.kafelekpodwojny {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.kropeczka {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 90%;
  position: relative;
  left: 60px;
  top: -20px;
}

.Setting {
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}

.opcje {
  display: flex;
  flex-direction: column;
}

.item {
  width: 400px;
  background-color: rgb(42, 42, 42);
  border-top: solid rgb(66, 66, 66) 1px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.itemlast {
  border-bottom: solid rgb(66, 66, 66) 1px;
}

.reszta {
  width: 440px;
  border-right: solid rgb(66, 66, 66) 1px;
}

.body2 {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.prawo72 {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prawo7 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: -100px;
}

.itemson {
  width: 150px;
  height: 150px;
  background-color: rgb(54, 54, 54);
}

.item1 {
  grid-area: 2/1/2/1;
}

.item2 {
  grid-area: 4/1/4/1;
}

.item3 {
  grid-area: 1/2/1/2;
}

.item4 {
  grid-area: 3/2/3/2;
}

.item5 {
  grid-area: 5/2/5/2;
}

.item6 {
  grid-area: 2/3/2/3;
}

.item7 {
  grid-area: 4/3/4/3;
}

.divek {
  width: 150px;
  height: 250px;
  background-color: rgb(89, 0, 0);
  border: solid black 1px;
  border-radius: 10px;
}

.pasek {
  width: max-content(body);
  height: 200px;
  background-color: rgba(255, 127, 127, 0.565);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 400px;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */