body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Segoe UI Symbol;
  background-color: #edf5ff;
  display: flex;
  justify-content: center;
}

.container {
  width: 1280px;
}

.logo img {
  width: 140px;
  height: 35px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav1 {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.l-menu {
  display: flex;
  align-content: center;
}

.nav1 .drop-1 button {
  background-color: #edf5ff;
  border: 0;
  border-radius: 15px;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav1 .drop-1 button:hover {
  background-color: #e3f0ff;
}

.nav1 .drop-2 button {
  background-color: #edf5ff;
  border: 0;
  border-radius: 15px;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav1 .drop-2 button:hover {
  background-color: #e3f0ff;
}

.nav1 .drop-3 button {
  background-color: #edf5ff;
  border: 0;
  border-radius: 15px;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav1 .drop-3 button:hover {
  background-color: #e3f0ff;
}

.nav1 .drop-4 button {
  background-color: #edf5ff;
  border: 0;
  border-radius: 15px;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav1 .drop-4 button:hover {
  background-color: #e3f0ff;
}

.l-menu .drop-5 {
  display: flex;
  align-self: center;
}

.l-menu .drop-5 button {
  border-color: #c7e0ff;
  background-color: white;
  border-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}
.l-menu .drop-5 button:hover {
  background-color: #edf5ff;
}

.l-menu .drop-6 {
  display: flex;
  align-self: center;
}

.l-menu .drop-6 button {
  border-color: #c7e0ff;
  background-color: white;
  border-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}
.l-menu .drop-6 button:hover {
  background-color: #edf5ff;
}

.l-menu .drop-7 {
  display: flex;
  align-self: center;
}

.l-menu .drop-7 button {
  border-color: #c7e0ff;
  background-color: white;
  border-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}
.l-menu .drop-7 button:hover {
  background-color: #edf5ff;
}

.main-content {
  display: flex;
  justify-content: center;
}

.kafle {
  display: grid;
  align-content: columns;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  width: 75%;
  justify-items: center;
}

.kafel-1 {
  grid-area: 2/1/4/2;
}

.kafel-2 {
  grid-area: 4/1/6/2;
}

.kafel-3 {
  grid-area: 1/2/3/3;
}

.kafel-4 {
  grid-area: 3/2/5/3;
}

.kafel-5 {
  grid-area: 5/2/7/3;
}

.kafel-6 {
  grid-area: 2/3/4/4;
}

.kafel-7 {
  grid-area: 4/3/6/4;
}

.kafel-1 {
  padding: 20px;
  border: solid #c7e0ff;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-top: 75px;
  text-align: center;
}
.kafel-1hover {
  border-color: #1876d1;
}
.kafel-1img {
  width: 150px;
  height: 150px;
}

.kafel-2 {
  padding: 20px;
  border: solid #c7e0ff;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-top: 75px;
  text-align: center;
}
.kafel-2hover {
  border-color: #1876d1;
}
.kafel-2img {
  width: 150px;
  height: 150px;
}

.kafel-3 {
  padding: 20px;
  border: solid #c7e0ff;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-top: 75px;
  text-align: center;
}
.kafel-3hover {
  border-color: #1876d1;
}
.kafel-3img {
  width: 150px;
  height: 150px;
}

.kafel-4 {
  padding: 20px;
  border: solid #c7e0ff;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-top: 75px;
  text-align: center;
}
.kafel-4hover {
  border-color: #1876d1;
}
.kafel-4img {
  width: 150px;
  height: 150px;
}

.kafel-5 {
  padding: 20px;
  border: solid #c7e0ff;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-top: 75px;
  text-align: center;
}
.kafel-5hover {
  border-color: #1876d1;
}
.kafel-5img {
  width: 150px;
  height: 150px;
}

.kafel-6 {
  padding: 20px;
  border: solid #c7e0ff;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-top: 75px;
  text-align: center;
}
.kafel-6hover {
  border-color: #1876d1;
}
.kafel-6img {
  width: 150px;
  height: 150px;
}

.kafel-7 {
  padding: 20px;
  border: solid #c7e0ff;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-top: 75px;
  text-align: center;
}
.kafel-7hover {
  border-color: #1876d1;
}
.kafel-7img {
  width: 150px;
  height: 150px;
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttonsbutton {
  margin: 25px;
}/*# sourceMappingURL=style.css.map */