
@import "_variables";



body{
    font-family: $font;
    background-color: $body-bg-color;
    display: flex;
    justify-content: center;
}
.container{
    width: 1280px;
}
.logo img{
    width: 140px;
    height: 35px;

}
.logo{
    display: flex;
    align-items: center;
}
.nav1{
    display: flex;
    align-content: center;
    justify-content: space-between;

}
.l-menu{
    display: flex;
    align-content: center;
}


@for $i from 1 through 4{
    .nav1 .drop-#{$i} button{
        background-color: $body-bg-color;
        border: 0;
        
        border-radius: 15px;
        font-size: large;
        font-weight: bold;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        &:hover{
            background-color: $hover-button-bg;
        }
    }
}
@for $i from 5 through 7 {
.l-menu .drop-#{$i} {
    
    display: flex;
    align-self: center;
    
}
.l-menu .drop-#{$i} button{
    border-color: $tile-button-border;
    &:hover{background-color: $body-bg-color;}
    background-color: white;
    border-width: 1px;
    margin-left:10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}
}

.main-content{
    display: flex;
    justify-content: center;
}

.kafle{
    display: grid;
    align-content: columns;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 75%;
    justify-items: center;
    
}

.kafel-1{
    grid-area: 2/1/4/2;
}
.kafel-2{
    grid-area: 4/1/6/2;
}
.kafel-3{
    grid-area:1/2/3/3
}
.kafel-4{
    grid-area:3/2/5/3
}
.kafel-5{
    grid-area:5/2/7/3
}
.kafel-6{
    grid-area: 2/3/4/4;
}
.kafel-7{
    grid-area:4/3/6/4;
}

@for $i from 1 through 7 {

    .kafel-#{$i}{
        padding: 20px;
        border: solid $tile-button-border;
        border-radius: 15px;
        height: 200px;
        width: 200px;
        margin-top: 75px;
        text-align: center;
        &hover{
            border-color: $hover-tile-bg-and-button-bg;
        }
        &img
        {
            width:150px;
            height: 150px;

        }
    }

}

.buttons{
    display: flex;
    justify-content: center;
    &button{
        margin: 25px;
    }
}