body {
  color: white;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.newsletterinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ikonka {
  background-color: white;
  border-radius: 50px;
}

.fraczekbeats {
  background-color: transparent;
}

.ikonka:hover {
  scale: 1.2;
}

.naglowek {
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ikonka1 {
  justify-content: flex-start;
}

.button1:hover {
  scale: 1.2;
}

.button1 {
  width: 100px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 10px;
}

.prawo {
  display: flex;
  flex-direction: row;
}

.body {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.napis {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.srodek {
  flex-direction: column;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin-top: 100px;
}

.KontenerNowosci {
  width: 900px;
  height: 500px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 30px;
  overflow: scroll;
}

.kafelki {
  height: 300px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kafelki:hover {
  scale: 1.1;
  border: solid black 2px;
}

.fotka {
  height: 150px;
  width: 150px;
  background-color: aqua;
  border: solid black 1px;
  border-radius: 10px;
  margin-top: -20px;
  overflow: hidden;
}

.tytul {
  margin-top: 10px;
  font-weight: bold;
}

.opis {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  overflow: hidden;
}

.naglowek {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.napisik {
  width: 100px;
  height: 200px;
  background-color: rgba(7, 234, 255, 0.337254902);
  overflow: hidden;
  padding: 20px;
  border: rgba(255, 255, 255, 0.4) 3px;
  border-radius: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.ikonka {
  margin-left: 10px;
}

.naglowek {
  box-shadow: 10px 10px rgba(86, 86, 86, 0.337254902);
}/*# sourceMappingURL=style.css.map */