$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Segoe UI Symbol;
$black-diff: #191919;
$body-bg-color: #edf5ff;
$body-box-bg-color: #e8f2ff;
$desc-color: #73879e;
$hover-button-bg: #e3f0ff;
$hover-tile-bg-and-button-bg: #1876d1;
$tile-button-border: #c7e0ff;
$boxy:rgba(49, 49, 49, 0.287);
$boxy2:rgb(34, 34, 34);
$kafelki: rgba(78, 78, 78, 0.222);

.RIGHT {
    width: 400px;
    background-color: $boxy;
}

.cala {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.RIGHT {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    margin-top: 20px;
    .Tyt {
        font-size: 30px;
    }
}

.item {
    width: 100px;
    height: 200px;
    background-color: #1876d1;
    border: solid white 2px;
    border-radius: 5px;

}

.prawykafel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;

    $colors : rgb(0, 191, 255),rgb(0, 143, 190),rgb(0, 88, 118),rgb(0, 48, 63),rgb(0, 54, 60),rgb(0, 191, 255),rgb(0, 143, 190),rgb(0, 88, 118),rgb(0, 48, 63),rgb(0, 54, 60),rgb(0, 191, 255),rgb(0, 143, 190),rgb(0, 88, 118),rgb(0, 48, 63),rgb(0, 54, 60),;
    
    @for $i from 1 through length($colors) {
    .item1:nth-child(#{$i}) {
      background-color: nth($colors,$i);
      color: nth($colors,$i);

        }
    }

}

.top {
    padding: 10px;
}


