.RIGHT {
  width: 400px;
  background-color: rgba(49, 49, 49, 0.287);
}

.cala {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.RIGHT {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
}
.RIGHT .Tyt {
  font-size: 30px;
}

.item {
  width: 100px;
  height: 200px;
  background-color: #1876d1;
  border: solid white 2px;
  border-radius: 5px;
}

.prawykafel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
}
.prawykafel .item1:nth-child(1) {
  background-color: rgb(0, 191, 255);
  color: rgb(0, 191, 255);
}
.prawykafel .item1:nth-child(2) {
  background-color: rgb(0, 143, 190);
  color: rgb(0, 143, 190);
}
.prawykafel .item1:nth-child(3) {
  background-color: rgb(0, 88, 118);
  color: rgb(0, 88, 118);
}
.prawykafel .item1:nth-child(4) {
  background-color: rgb(0, 48, 63);
  color: rgb(0, 48, 63);
}
.prawykafel .item1:nth-child(5) {
  background-color: rgb(0, 54, 60);
  color: rgb(0, 54, 60);
}
.prawykafel .item1:nth-child(6) {
  background-color: rgb(0, 191, 255);
  color: rgb(0, 191, 255);
}
.prawykafel .item1:nth-child(7) {
  background-color: rgb(0, 143, 190);
  color: rgb(0, 143, 190);
}
.prawykafel .item1:nth-child(8) {
  background-color: rgb(0, 88, 118);
  color: rgb(0, 88, 118);
}
.prawykafel .item1:nth-child(9) {
  background-color: rgb(0, 48, 63);
  color: rgb(0, 48, 63);
}
.prawykafel .item1:nth-child(10) {
  background-color: rgb(0, 54, 60);
  color: rgb(0, 54, 60);
}
.prawykafel .item1:nth-child(11) {
  background-color: rgb(0, 191, 255);
  color: rgb(0, 191, 255);
}
.prawykafel .item1:nth-child(12) {
  background-color: rgb(0, 143, 190);
  color: rgb(0, 143, 190);
}
.prawykafel .item1:nth-child(13) {
  background-color: rgb(0, 88, 118);
  color: rgb(0, 88, 118);
}
.prawykafel .item1:nth-child(14) {
  background-color: rgb(0, 48, 63);
  color: rgb(0, 48, 63);
}
.prawykafel .item1:nth-child(15) {
  background-color: rgb(0, 54, 60);
  color: rgb(0, 54, 60);
}

.top {
  padding: 10px;
}

body {
  color: #1876d1;
  background-color: #191919;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Segoe UI Symbol;
  margin-left: 200px;
  margin-right: 200px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.butt:hover {
  scale: 1.2;
  color: white;
  cursor: pointer;
}

.naglowek {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid #1876d1 2px;
  border-top: solid #1876d1 2px;
  position: sticky;
  top: -4px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: rgb(34, 34, 34);
}

.right2 {
  display: flex;
  gap: 15px;
}

.szukaj {
  background-color: rgb(60, 60, 60);
  color: white;
  font-weight: bold;
  width: 100px;
  border-radius: 5px;
  border: solid rgb(112, 112, 112) 1px;
  text-align: center;
}

.search {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100px;
  border: solid rgb(58, 58, 58) 1px;
  border-radius: 5px;
  text-align: center;
}

.szukajka {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.srodek {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.napis {
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}

.boxik {
  width: 700px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(49, 49, 49, 0.287);
  padding: 50px;
  text-align: center;
  color: rgb(176, 176, 176);
  margin-top: 50px;
}

.Tyt {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.popbox {
  width: 780px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(49, 49, 49, 0.287);
}

.film {
  width: 380px;
  height: 200px;
  background-color: rgba(78, 78, 78, 0.222);
}

.popbox {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.film {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.opis {
  overflow: hidden;
  width: 200px;
  height: 50px;
  color: rgb(136, 136, 136);
}

.Tytulek {
  font-weight: bold;
  color: white;
}

.datocen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.do {
  width: 50px;
  height: 20px;
  background-color: rgb(100, 196, 255);
  color: black;
  text-align: center;
}

.do:hover {
  background-color: rgb(137, 210, 255);
}

.prawo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.juleczkafotka {
  border: solid rgba(7, 255, 210, 0.553) 3px;
}

.juleczkafotka:hover {
  border: solid rgba(7, 255, 209, 0.899) 3px;
}/*# sourceMappingURL=stylefilmac.css.map */